@import "mixins/_all";
@import "lib/media";

body {
    /* Without this, the body has excess horizontal scroll when the menu is open */
  overflow-x: hidden;
}

@media #{$notphone} {
  .phone {
    display: none;
  }
}

@media #{$phone} {
  .notphone {
    display: none;
  }
}

@media #{$notdesktop} {
  .desktop {
    display: none;
  }
}

@media #{$desktop} {
  .notdesktop {
    display: none;
  }
}

/* Micro reset */
*, *:before, *:after {
  @include box-sizing(border-box);
  margin:0;
  padding:0;
}
html, body { height: 100%; width: 100%; font-family: Helvetica, Arial, sans-serif; }

/* Site Wrapper - Everything that isn't navigation */
.site-wrap {
  /* Critical position and size styles */
  min-height: 100%;
  min-width: 100%;
  background-color: white; /* Needs a background or else the nav will show through */
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 1;

  /* non-critical apperance styles */
  padding: 10px 0 0 4em;
  background-image: linear-gradient(135deg, rgb(254,255,255), rgb(221,241,249));
}